<!DOCTYPE html>
<html>
<head>
<h4>Cardinal Banking System</h4>
<body>
<style>
a:link    {color:black; background-color:transparent; text-decoration:none}
a:visited {color:pink; background-color:transparent; text-decoration:none}
a:hover   {color:red; background-color:transparent; text-decoration:underline}
a:active  {color:yellow; background-color:transparent; text-decoration:underline}
</style>
<a href="viewstatements.html" target="_self">View Account</a><br>
<a href="#" target="_blank">Credit</a><br>

<a href="#" target="_blank">Debit</a><br>
<a href="#" target="_blank">Transfer</a><b>



</body>
</html>



