<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  
  <script>

});
  $(document).ready(function() {
    $("#datepicker1").datepicker();
  });


  </script>

</head>
<body>
<h2> View Account/Statements <h2>
<p><font size="2">Last Name:John Doe</font></p>
<p><font size="2">Last Name:John Doe</font></p>
<p><font size="2">Account Number:XXXXXXXXXXXX7768</font></p>
<p><font size="2">To view Statements select the range below</font></p>

<form>
    <input type="date" id="datepicker" />
    <h6> To<h6>
    <input type="date" id="datepicker1" />
    <!-- Button -->
<button type="button" onclick="myfunction()">Download PDF</button>

</form>
</body>
</html>
